.picker {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.picker__hex {
  z-index: 1000;
  width: 20px;
}
.picker__buttons {
  display: flex;
  gap: 1rem;
}
.btn {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: #e0562a;
  color: white;
  font-size: calc(1vw + 1vh + 0.5vmin);
}
.picker .react-colorful {
  height: 20vh;
  width: 60vw;
  max-width: 300px;
}
@media only screen and (min-width: 1000px) {
  .btn {
    font-size: 1.5rem;
  }
  .picker {
    left: 15%;
    top: 20%;
    transform: 0;
  }
}
@media only screen and (orientation: landscape) {
  .picker {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
  }
  .picker .react-colorful {
    height: 40vh;
    max-width: 30vw;
  }
}
.picker__name {
  font-size: calc(1vw + 1vh + 1vmin);
}
