.header {
  /* text-align: center; */
  /* left: 0 !important; */
  /* top: 0 !important; */
  /* transform: none !important; */
  transform: none !important;
  left: 10% !important;
  top: 20% !important;
}
.header > * {
  /* position: relative !important; */
}
.header__container {
  opacity: 0;
  animation-name: fadeInDown, fadeOutLeft;
  animation-duration: 2s, 1s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, ease-out;
  /* background-color: #db712c; */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
/* .header__container::after {
  content: '';
  width: 90%;
  height: 0.2rem;
  background-color: #db712c;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translate(-50%, 0);
} */
.header__logo {
  width: 20vw;
  filter: brightness(0) invert(1);
}
.header__title {
  margin: 0;
  font-size: calc(1vw + 1vh + 3vmin);
  width: 200px;
  max-width: 200px;
}
@media only screen and (min-width: 600px) {
  .header__title {
    width: 500px;
    max-width: 500px;
  }
  @media only screen and (min-width: 1000px) {
    .header__title {
      width: 700px;
      max-width: 700px;
    }
  }
}
